

.appContent {
  background-color: #F2552C;
  /*background-color: teal;*/
  width: 100%;
  height: 500px;

}


.app {

	/*background-image: url("la_wallpaper.jpg");*/

	background-color: teal;

	background-size: 100%;

	text-align: center;

	height: 700px;

	} 
