

.roomieDiv {

	background-image: url("./roomie.jpg");
	background-size: 100%;
	/*height: 460px;*/
	font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  width: 100%;
   margin: 0 auto;
   background-color: #F2552C;
   /*background-color: teal;*/
   color: white;
	}

/*body {
	background-color: white;
	margin:auto;
	width: 100%;

}*/

.btnlocation{
	background-color: #F2552C;
}

.formDiv {
	text-align: center;
}
