

.App-content {
  background-color: none;
  width: 100%;
  height: 500px;

}


.App {

	/*background-image: url("la_wallpaper.jpg");*/

	background-color: teal;

	background-size: 100%;

	text-align: center;

	height: 700px;

	} 
