body {

	background-color: black;
}


#maindiv {

	background-color: teal;

	
}

#teamdiv {

	background-color: #4CAF50;
	border-radius: 12px;
	height: 40px;
	

	
}

#h1h2div {

	/*background-color: rgb(203,188,145);*/
	background-color: #4CAF50;
	border-radius: 20px;
	color: white;

	
}

#surveydiv {

	background-color: rgb(203,188,145);
	border-radius: 20px;

	
}

#buttondiv {

	text-align: center;
	/*background-color: white;*/
	border-radius: 12px;
}


#withinbuttondiv {

	text-align: center;
	/*background-color: blue;*/
}


#zipdiv {

	text-align: center;
	/*background-color: silver;*/

	
}

#findmatchdiv1 {

	text-align: center;
	width: 8px;

	
}

#findmatchdiv2 {

	text-align: center;
	/*background-color: purple;*/

	
}

/*#zipform {

	text-align: center;

	
}*/


h1 {

	font-size:50px;
	text-align: center;
	/*color: black;*/
	}

h2 {

	font-size:25px;
	text-align: center;
	/*color: black;*/
	}



#zipbutton {

	background-color: orange;
	border-radius: 12px;
	height: 70px;
	width: 200px;
	font-size: 15px;
	text-align: center;
}


#zipinput {

	background-color: white;
	border-radius: 12px;
	height: 70px;
	width: 200px;
	font-size: 15px;
	text-align: center;
}

#zipbutton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

#signbutton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

#signbutton {

	background-color: rgb(59,89,152);
	border-radius: 12px;
	height: 70px;
	width: 200px;
	font-size: 18px;
}

#findroomiebutton {

	background-color: orange;
	border-radius: 12px;
	height: 70px;
	width: 200px;
	font-size: 18px;
}

#findroomiebutton:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

#roomieButtonDiv {
	text-align: center;
}

.FB_icon {
	width:80px;
	height: 80px;
	margin-top: 45px;
	border:solid 1px;
	border-color: #cccccc;
	border-radius: 12px;
}


#fbsigndiv {
	background-color: white;
	border-radius: 12px;
	text-align: center;
	margin: 0 auto;
}


#usernameform {
	
	/*margin-left: 230px;*/
	 margin-right:auto; margin-left:auto;
}

#usernamediv1 {

	 margin-right:auto; margin-left:auto;
	
}




