.navbarCustom {
  /*background-color: rgb(105,93,71);*/
  background-color: #79C753;
 /* background-color: orange;*/

}



/*.navbarHeader {

  background-color: orange;
}*/

/*@keyframes Header-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

#logo {
  /* Positioning */
  /*margin-left: 70px;

  
  height: 60px;
  padding-top: 20px;
  padding-bottom: 5px;

  
  font-size: 24px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: #fff;
  color: red;

  
  background: rgb(244,111,44);
  background-color:  yellow;*/

}

/*.navbar-right-custom {

  
  padding-top: 6px;
  padding-right: 20px;

  
  font-family: Arial;
  font-weight: lighter;
  font-size: 18px;
  color: red;

}
*/
/*.navbarDefault .navbar-nav > li > a:hover {
  background-color: orange;
}*/


.baalDiv {

  background-color: red;
}